<%- include("header.ejs") -%>

<div class="box" id="heading">
  <h1><%= todayIs %></h1>
</div>
<%- include("weather.ejs") -%>
  <div class="box">
    <% Items.forEach(function(anItem){ %>

      <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%= anItem._id %>" onChange="this.form.submit()">
        <p><%= anItem.name %></p>
      </div>
      <input type="hidden" name="userNameDelete" value="<%= userNameIs %>">
      </form>

    <% }); %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" autocomplete="off">
      <button type="sumbit" name="submitButton" value= "<%= userNameIs %>" >+</button>
    </form>
  </div>
<%- include("footer.ejs") -%>
