<%- include("header.ejs") -%>

<div class="box" id="heading">
  <h1><%= todayIs %></h1>
</div>
<%- include("weather.ejs") -%>
  <div class="box">
    <% Items.forEach(function(anItem){ %>

      <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%= anItem._id %>" onChange="this.form.submit()">
        <p><%= anItem.name %></p>
      </div>
      <input type="hidden" name="userNameDelete" value="<%= userNameIs %>">
      </form>

    <% }); %>

    <form class="item" action="/add" method="post">
      <input class="task" type="text" name="newItem" autocomplete="off">
      <button type="sumbit" class="addNew" name="submitButton" value= "<%= userNameIs %>" >+</button>
    </form>

  </div>
  <div class="container">
    <div class="center">
      <form class="homeButton" action="/home" method="post">
        <button type="submit" class="home" name="button"><i class="fas fa-home fa-3x"></i></button>
      </form>
    </div>
  </div>

<%- include("footer.ejs") -%>
